<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>$TAB_TITLE</title>
</head>
<body>
    <header>
        <nav class="side-navbar">
            <a href="/"><img id="logo" src="/assets/images/nodeChroniclesLogo.svg"></a>
            <a href="/git-commands" class="nav-link">Git</a>
            <a href="/js-variables" class="nav-link">Data types and Variables</a>
            <a href="/functions" class="nav-link">Functions</a>
            <a href="/loops" class="nav-link">Loops</a>       
            <a href="/node" class="nav-link">Introduction to Node.js</a> 
            <a href="/package.json" class="nav-link">Package.json</a>   
            <a href="/nodemon" class="nav-link">Nodemon</a>  
            <a href="/express" class="nav-link">Express.js</a>  
            <a href="/requests" class="nav-link">REST API</a>
            <a href="/fetch" class="nav-link">Fetch in Javascript</a>    
            <a href="/date" class="nav-link">Date API in Javascript</a>  
            <a href="/csr-ssr" class="nav-link">SSR vs CSR</a> 
            <a href="/export-import" class="nav-link">Export and Import in Node.js</a> 
            <a href="/front-export-import" class="nav-link">Export, Import in front-end</a> 
            <a href="/xss" class="nav-link">XSS in Javascript</a>    
        </nav>
        <div class="login-div">
            <button class="btn light-btn long"><a href="/new-page">Submit page</a></button>
            <button class="btn light-btn"><a href="/login">Login</a></button>
            <button class="btn dark-btn"><a href="/signup">Sign up</a></button>
        </div>
    </header>
    <main class="main-content">

